name: CI/CD - Deploy Automático

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-push:
    name: Build e Push Docker Images
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        service: [api, worker]
    
    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build e Push - ${{ matrix.service }}
        run: |
          docker build -t hugopimenta07/ordertracking-${{ matrix.service }}:latest -f src/OrderTracking.${{ matrix.service == 'api' && 'API' || 'Worker' }}/Dockerfile .
          docker push hugopimenta07/ordertracking-${{ matrix.service }}:latest

  deploy:
    name: Deploy na EC2
    runs-on: ubuntu-latest
    needs: build-and-push
    
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu/ordertracking
            docker compose pull api worker
            docker compose up -d --force-recreate api worker
            docker image prune -f
